.card {
  display: block;
  background-color: #f7f7f7;

  &__space {
    border: none;
    margin-bottom: 2rem;

    &__bottom {
      border: none;
      margin-bottom: 2rem;
    }
  }

  &__1 {
    background-color: white;
    margin: auto;
    border: 1px solid #f7f7f7;
    border-radius: 0.313rem;
    margin-right: 12%;
    margin-left: 12%;

    &__redsph {
      position: relative;
      top: -9rem;
      right: -3.5rem;
      display: block;
      margin: auto;
      &__big {
        display: none;
      }
    }
    &__comp {
      display: block;
      margin: auto;
      padding-top: 2rem;
      position: sticky;
      z-index: 10;
      &__big {
        display: none;
      }
    }

    &__text {
      display: block;
      margin-top: -7rem;
      margin-left: 1.5rem;
      margin-right: 1rem;
      margin-bottom: 2rem;

      &__h2 {
        font-family: Raleway;
        font-size: 1.875rem;
        font-weight: 400;
        text-align: left;
      }
      &__h3 {
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        margin-top: 2rem;
        margin-right: 2rem;
      }
    }
  }

  &__2 {
    background-color: white;
    margin: auto;
    border: 1px solid #f7f7f7;
    border-radius: 0.313rem;
    margin-right: 12%;
    margin-left: 12%;

    &__blue {
      position: relative;
      top: -8.9rem;
      right: auto;
      display: block;
      margin: auto;
      &__big {
        display: none;
      }
    }
    &__iphone {
      display: block;
      margin: auto;
      padding-top: 1rem;
      position: sticky;
      z-index: 10;
      &__big {
        display: none;
      }
    }
    &__text {
      display: block;
      margin-top: -7rem;
      margin-left: 1.5rem;
      margin-right: 1rem;
      margin-bottom: 2rem;

      &__h3 {
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        margin-top: 1.5rem;
        margin-right: 2rem;
      }
      &__h2 {
        font-family: Raleway;
        font-size: 1.875rem;
        font-weight: 400;
        text-align: left;
        width: 13rem;
      }
    }
  }
  &__3 {
    background-color: white;
    margin: auto;
    border: 1px solid #f7f7f7;
    border-radius: 0.313rem;
    margin-bottom: 4rem;
    margin-right: 12%;
    margin-left: 12%;

    &__text {
      display: block;
      margin-top: 2rem;
      // margin-left: 1.5rem;

      &__h2 {
        font-family: Raleway;
        font-size: 1.875rem;
        font-weight: 400;
        text-align: left;
        width: 15rem;
      }
      &__h3 {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        margin-right: 3rem;
        margin-top: 2rem;
      }
    }
    &__green {
      margin-top: 2rem;

      &__square {
        display: grid;
        place-items: center;
        background-color: #55dfb4;
        border: 1px solid #f7f7f7;

        height: 12.188rem;
        border-radius: 5px;
      }
      &__trumpet {
        margin: auto;
        margin-top: 1.8rem;
      }
    }
  }
}
@media only screen and (min-width: 1000px) {
  .card {
    &__1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 2em;
      max-width: 70rem;
      height: 23.125rem;
      margin: auto;

      &__redsph {
        display: none;
        &__big {
          display: flex;
          position: relative;
          top: -10rem;
          right: -30.5rem;
          margin: auto;
        }
      }

      &__comp {
        display: none;

        &__big {
          display: flex;
          position: relative;
          top: 8rem;
          right: -23.5rem;
          margin: auto;
          z-index: 10;
        }
      }

      &__text {
        display: block;
        margin-top: 7rem;
        margin-left: -12rem;
        max-width: 26rem;
        position: relative;
        left: -24rem;
        &__line {
          width: 20.478rem;
          border: 2px solid #fb3b64;
          margin-top: 2rem;
        }
      }
    }
    &__2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 2em;
      max-width: 70rem;
      height: 23.125rem;
      margin: auto;
      &__images {
        transform: translateX(10rem);
      }
      &__blue {
        display: none;
        &__big {
          display: flex;
          position: relative;
          top: -19rem;
          right: 12.2rem;
          margin: auto;
        }
      }

      &__iphone {
        display: none;

        &__big {
          display: flex;
          position: relative;
          top: 3rem;
          right: 9rem;
          margin: auto;
          z-index: 10;
        }
      }

      &__text {
        display: block;
        margin-top: 7rem;
        margin-left: -12rem;
        max-width: 26rem;
        transform: translateX(59%);
        &__line {
          width: 20.478rem;
          border: 2px solid #08a6e4;
          margin-top: 2rem;
        }
      }
    }
    &__3 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 2em;
      max-width: 70rem;
      height: 23.125rem;
      margin: auto;
      flex-direction: row;
      &__green {
        display: inline-block;
        position: relative;
        margin-top: 0;
        margin-left: 3.5em;
        width: 40%;
        margin-left: -4.5rem;
        &__square {
          height: 100%;
          max-height: unset;
          position: relative;
          top: -23rem;
        }
        &__trumpet {
          margin-top: 6.8rem;
        }
      }
      &__grey__square {
        width: 10rem;
        height: 100%;
        background-color: #f7f7f7;
        transform: translateX(-4rem);
      }

      &__text {
        display: block;
        margin-top: 4rem;
        margin-left: 21.4rem;
        max-width: 26rem;
        position: relative;
        left: -17.8rem;
        &__h2 {
          width: 21rem;
        }
        &__h3 {
          width: 27rem;
        }
        &__line {
          width: 20.478rem;
          border: 2px solid #55dfb4;
          margin-top: 2rem;
        }
      }
    }
    &__space__bottom {
      border: none;

      padding-bottom: 6rem;
    }
  }
}
