.modal--container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.popup {
  box-shadow: 5px 10px 14px 10px hsla(196, 94%, 46%, 0.29);
  border: solid;
  border-color: #111516;
  border-width: 0.2rem;
  background-color: #90afca;
  width: 23rem;
  display: flex;
  border-radius: 3rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 7rem;

  &__h1 {
    font-family: "Open Sans";
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 3rem;
    text-align: center;
  }
  &__h5 {
    font-family: "Open Sans";
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.206rem;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
}

.email__modal {
  border: none;
  width: 11.5rem;
  border-bottom: 0.14rem solid #000000;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.popup__submit {
  margin-top: 0rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  width: 14.125rem;
  height: 3.563rem;
  border: none;
  border-radius: 35px;
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px 0px #07ace64a;

  color: white;
}

.close {
  width: 2rem;
  height: 2rem;
  border: none;

  cursor: pointer;
  position: relative;
  left: 19.5rem;
  top: -9rem;
  background-color: transparent;
}

.cross__image {
  width: 1.5rem;
  height: auto;
}
