.pop__sales {
  &__h4 {
    font-family: Raleway;
    font-size: 1.875rem;
    font-weight: 300;
    line-height: 2.188rem;
    text-align: center;
    width: 17rem;
    margin: auto;
  }
  &__main {
    &__1 {
      width: 3rem;
      margin-top: 2rem;
      margin-right: auto;
      margin-bottom: 3rem;
      margin-left: auto;
      &__red {
        background-color: #fb3b64;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        &__img {
          position: relative;
          left: 1.9rem;
        }
      }
      &__h5 {
        font-family: Raleway;
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 0.375rem;
        text-align: center;
        right: 1rem;
        position: relative;
        margin-top: 1rem;
      }
      &__h6 {
        font-family: Raleway;
        color: #a5a5a5;
        margin-top: 1rem;
        font-size: 1.063rem;
        font-weight: 400;
        right: 0.4rem;
        position: relative;
        width: 7rem;
      }
    }
    &__2 {
      width: 3rem;
      margin-top: 2rem;
      margin-right: auto;
      margin-bottom: 3rem;
      margin-left: auto;
      &__blue {
        background-color: #08a6e4;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        &__img {
          position: relative;
          left: 1.35rem;
          bottom: -0.8rem;
        }
      }
      &__h5 {
        font-family: Raleway;
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 0.375rem;
        text-align: center;
        right: 2rem;
        position: relative;
        margin-top: 1rem;
      }
      &__h6 {
        font-family: Raleway;
        color: #a5a5a5;
        margin-top: 1rem;
        font-size: 1.063rem;
        font-weight: 400;
        right: 1.6rem;
        position: relative;
        width: 8rem;
        text-align: center;
      }
    }
    &__3 {
      width: 3rem;
      margin-top: 2rem;
      margin-right: auto;
      margin-bottom: 3rem;
      margin-left: auto;
      &__green {
        background-color: #55dfb4;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        &__img {
          position: relative;
          left: 2rem;
          bottom: -0.4rem;
        }
      }
      &__h5 {
        font-family: Raleway;
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 0.375rem;
        text-align: center;
        right: 1rem;
        position: relative;
        margin-top: 1rem;
      }
      &__h6 {
        font-family: Raleway;
        color: #a5a5a5;
        margin-top: 1rem;
        font-size: 1.063rem;
        font-weight: 400;
        right: 1.9rem;
        position: relative;
        width: 8rem;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .pop__sales {
    width: 100%;
    &__main {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &__1 {
        margin: 4rem 9rem 7rem;
      }
      &__2 {
        margin: 4rem 9rem 7rem;
      }
      &__3 {
        margin: 4rem 9rem 7rem;
      }
    }
    &__h4 {
      font-family: Raleway;
      font-size: 2.25rem;
      font-weight: 400;
      text-align: center;
      margin-top: 1rem;
      width: 50rem;
    }
  }
}
