ul {
  list-style-type: none;
}
li {
  padding-bottom: 1.3rem;
}

.pricing {
  &__h2 {
    font-family: Raleway;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  &__red {
    display: block;
    border: 1px solid #fb3b64;
    border-radius: 18px;
    margin: auto;
    margin-bottom: 3rem;
    max-width: 18.313rem;
    padding-bottom: 1.3rem;

    &__basic {
      display: inline-block;
      vertical-align: top;
      margin-top: 5rem;
      margin-left: 2rem;

      &__h3 {
        font-family: Raleway;
        font-size: 20px;
        font-weight: 700;
        text-align: end;
      }
      &__h4 {
        font-family: "Open Sans";
        font-size: 2.875rem;
        font-weight: 300;
        color: #fb3b64;
      }
    }
    &__list {
      display: inline-block;
      vertical-align: top;
      margin-left: 16.5%;
      margin-top: 2rem;
      &__text {
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-weight: 400;
        &__symbol {
          margin-right: 0.6rem;
        }
      }
    }
    &__button {
      position: absolute;
      width: 9.375rem;
      height: 3.125rem;
      border-radius: 23px;
      background-color: #eb476e;
      color: white;
      border: none;
      margin-top: 14rem;
      font-family: Open Sans;
      font-size: 0.813rem;
      font-weight: 700;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}

.pricing__blue {
  margin-top: 3rem;
  display: block;
  border: 1px solid #07ace6;
  border-radius: 18px;
  margin: auto;
  margin-bottom: 3rem;
  max-width: 18.313rem;
  padding-bottom: 1.3rem;

  &__professional {
    display: inline-block;
    vertical-align: top;
    margin-top: 5rem;
    margin-left: 1rem;
    text-align: center;

    &__h3 {
      font-family: Raleway;
      font-size: 1.2rem;
      font-weight: 700;
    }
    &__h4 {
      font-family: "Open Sans";
      font-size: 2.875rem;
      font-weight: 300;
      color: #07ace6;
    }
    &__h5 {
      font-family: Raleway;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
  &__list {
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5%;
    margin-top: 2rem;
    &__text {
      font-family: "Open Sans";
      font-size: 0.875rem;
      font-weight: 400;
      &__symbol {
        margin-right: 0.6rem;
      }
    }
  }
  &__button {
    position: absolute;
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 23px;
    background-color: #07ace6;
    color: white;
    border: none;
    margin-top: 14rem;
    font-family: Open Sans;
    font-size: 0.813rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.pricing__green {
  margin-top: 3rem;
  display: block;
  border: 1px solid #55dfb4;
  border-radius: 18px;
  margin: auto;
  margin-bottom: 3rem;
  max-width: 18.313rem;
  padding-bottom: 1.3rem;

  &__premium {
    display: inline-block;
    vertical-align: top;
    margin-top: 5rem;
    margin-left: 2rem;
    text-align: center;

    &__h3 {
      font-family: Raleway;
      font-size: 1.2rem;
      font-weight: 700;
    }
    &__h4 {
      font-family: "Open Sans";
      font-size: 2.875rem;
      font-weight: 300;
      color: #55dfb4;
      margin: 0;
    }
    &__h5 {
      font-family: Raleway;
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
  &__list {
    display: inline-block;
    vertical-align: top;
    margin-left: 6%;
    margin-top: 2rem;
    &__text {
      font-family: "Open Sans";
      font-size: 0.875rem;
      font-weight: 400;
      &__symbol {
        margin-right: 0.6rem;
      }
    }
  }
  &__button {
    position: absolute;
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 23px;
    background-color: #55dfb4;
    color: white;
    border: none;
    margin-top: 14rem;
    font-family: Open Sans;
    font-size: 0.813rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.converter {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  align-items: baseline;
  justify-content: center;

  &__currency {
    background-color: #a5e8ff;
    border: none;
    border-radius: 22%;
    cursor: pointer;
    width: 5rem;
    height: fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }
}
.converter__currency:active {
  background-color: none;
  color: #00bfff;
}

@media only screen and (min-width: 1000px) {
  .pricing {
    &__general {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__red {
      margin: 4rem 4rem 7rem;
      width: 23.25rem;
      height: 25rem;
      &:hover {
        transform: scale(108%);
        border-radius: 18px;
        border: 1px;
        border: 1px solid#fb3b64;
        box-shadow: 5px 10px 27px -10px #fb3b64;
      }
      &__basic {
        margin-left: 7.5rem;
        padding-right: 5rem;
        margin-top: 3rem;
      }
      &__list {
        padding-left: 3rem;
        text-align: center;
      }
      &__button {
        position: relative;
        bottom: 13.5rem;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }
    &__blue {
      margin: 4rem 4rem 7rem;
      width: 23.25rem;
      height: 25rem;
      &:hover {
        transform: scale(108%);
        border-radius: 18px;
        border: 1px;
        border: 1px solid#07ace64a;
        box-shadow: 5px 10px 27px 0px #07ace64a;
      }
      &__professional {
        margin-left: 5.5rem;
        padding-right: 5rem;
        margin-top: 3rem;
      }
      &__list {
        padding-left: 5.5rem;
        text-align: center;
      }
      &__button {
        position: relative;
        bottom: 14.5rem;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }
    &__green {
      margin: 4rem 4rem 7rem;
      width: 23.25rem;
      height: 25rem;

      &:hover {
        transform: scale(108%);
        border-radius: 18px;
        border: 1px;
        border: 1px solid #55dfb4;
        box-shadow: 5px 10px 27px 0px #55dfb4;
      }
      &__premium {
        margin-left: 6.5rem;
        padding-right: 5rem;
        margin-top: 3rem;
      }
      &__list {
        padding-left: 4.5rem;
        text-align: center;
      }
      &__button {
        position: relative;
        bottom: 14.5rem;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }
  }
}
