@import "nav";
@import "sell-more";
@import "pop-sales";
@import "cards";
@import "pricing";
@import "form";
@import "footer";
@import "scroller";
@import "too-top";
@import "pop-up";
@import "slider";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}
